@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
  background: rgb(0,0,0);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 74%);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 74%);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 74%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
  margin: 4vw;
  color:#000;
}
body p{
  font-family: 'Merriweather', serif;
  color:white;
  font-size: 1.2rem;
  letter-spacing:0.04rem;
}
.Conteudo1 p:first-letter{
  margin-left: 1.5rem;
}
.Conteudo1 p{
  margin-bottom: 0px;
  padding-bottom: 1px;
  text-align: justify;
}
.Conteudo2 h2{
  margin-top: 0px;
  margin-bottom: 3vh;
  padding-bottom: 0px;
}
body h2{
  font-family: 'Italiana', serif;
  color:#D91136;
  font-size: 2rem;
  text-align: center;

}
/* card */
  .card1{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #fff;
  }
  
  .usuario {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
.formulario label{
  color: white;
} 
  
  h3{
    color: white;
    font-family: 'Merriweather', serif;
    text-align: center;
  }

  
  .rating {
    margin-left: auto;
    font-size: 1.2rem;
  }
  
  .comment {
    font-size: 1.1rem;
  }

/* Campo de Avaliação */
#formulario{
  font-size:3vh;
}

form {
  margin-top: 5vh;
  background-color:black;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #fff;
 
  max-width: 100vw;
  margin: 0 auto;
}

.form-group {
  margin: 1vw 0;
  text-align: left;
}

label {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4vh;
  font-weight: bold;
  color: white;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 73vw;
  padding: 2vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.8rem;
  
}


input[type="number"] {
  width: 50px;
}

textarea {
  border-radius: 5px;
  width: 76vw;
  height: 27vh;
  font-size: 1rem;
  
}

.button-group {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 10px 20px;
  background-color:#D91136;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #048C3F;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button:disabled,
input[type="number"]::-webkit-outer-spin-button:disabled {
  display: none;
}


  
  @media only screen and (min-width: 768px) {
    .card1 {
      padding: 30px;
      width: 400px;
      margin: 0 auto;
    }
  
    .avatar {
      width: 70px;
      height: 70px;
    }
  
    .usuario {
      font-size: 1.2rem;
    }
  
    .rating {
      font-size: 1.5rem;
    }
  
    .comment {
      font-size: 1.3rem;
    }
    .card1{
      width: auto;
    }

  }
